body {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0px 100px;
}
.hero {
  height: 300px;
  width: auto;
  background-image: url(https://i.imgur.com/FOtTO6t.jpg?1);

}
.heroh1{
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  color: white;
  text-shadow: -1px 2px 2px #000000;

}

h2 {
  text-align: center;
  margin: 0% 10% 5% 10%;
  font-weight: lighter;
  line-height: 30px;
  color: white;
  text-shadow: -1px 2px 2px #000000;
  /* https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
}

div {
  margin-bottom: 20px;
}

.top-stories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.toparticle-container {
  display: grid;
  grid-template-areas: 
  "image header"
  "button button";
  /* flex-wrap: wrap;  */
  border: solid 3px black;
  line-height: 30px;
  width: 100%;
  /* margin: 0% 1% 1% 0%; */
  /* justify-content: space-between; */
}

.toparticle-container img {
  grid-area: image;
  height: 100px;
  width: auto;
}

.title-orientation{
  grid-area: header;
  /* .title-orientation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0 50%
  } */
}


.button-style-top {
  grid-area: button;
  align-self: flex-end;
}

.toparticle-container0 {
  margin-right: 1%;
}
.toparticle-container1 {
  margin-left: 1%;
}

.buttons {
  display: flex;
  flex-direction: column;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sticky_element */
  top: 0;
  
}

.sports,
.entertainment,
.food,
.travel {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 20px;
  width: 200px;
  height: 30px;
  border: none;
  margin-bottom: 1%;
  outline: aqua;
  background-image: linear-gradient(to left, white, rgb(220, 219, 219));

}

.sports:hover,
.entertainment:hover,
.food:hover,
.travel:hover {
  background-image: linear-gradient(to right, aqua , aqua);
  outline: aqua;
}

.results-main{
  margin: 0px;
}
.all-articles-container {
  display: flex;
  flex-direction: column;
  float: inline-end;
  /* text-align: center; */
}

.article-container {
  display: flex;
  flex-wrap: wrap; 
  border: solid 3px black;
  line-height: 30px;
  margin: 0% 1% 1% 0%;
  /* justify-content: space-between; */
  /* height: 200px; */
}


.image-custom {
  height: 120px;
  width: auto;
  margin: .5%;

}

.readmore-button-text{
  text-decoration: none;
  font-family: 'Pragati Narrow', sans-serif;
  color: black;
}

.title-custom {
  margin: 1%;
}

.description-custom {
  font-size: larger;
  margin: 1%;
}

.button-style {
  font-size: 20px;
  /* justify-content: space-between;
  justify-content:flex-end; */
  flex: 1 0 100%;
  border: none;
  outline: aqua;
  background-image: linear-gradient(white, rgb(220, 219, 219));
  /* height: 30px; */
  }

  .button-style:hover{
    background-image: linear-gradient(aqua,aqua);
    outline: aqua;
  }