body {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0px 0px;
  color: rgb(1, 1, 46);
}

main{
  margin: 0% 10%;
}

.hero {
  height: 300px;
  margin: none;
  width: auto;
  background-image: url(https://i.imgur.com/SdfRJYl.jpg?1);
  

}
.heroh1{
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  color: white;
  text-shadow: -1px 2px 2px aqua;
  margin: 0px 0px;

}

h2 {
  text-align: center;
  margin: 0% 20% 5% 20%;
  font-weight: lighter;
  line-height: 30px;
  font-size: 1.6em;
  color: white;
  text-shadow: -1px 2px 2px rgb(1, 1, 46);
  background-color: rgb(0, 255, 255, 0.2);
  /* https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
}

.top-stories-header {
  margin: 1% 10% 1% 10%;
  color: rgb(1, 1, 46);
  background-color: white;
  text-shadow: none;
  font-size: 36px;
}

div {
  margin-bottom: 20px;
}

.top-stories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}

.toparticle-container {
  display: grid;
  grid-template-areas: 
  "image header"
  "button button";
  border: solid 3px rgb(1, 1, 46);
  line-height: 30px;
  width: 100%;
  
}

.toparticle-container img {
  grid-area: image;
  height: 100px;
  width: auto;
}

.title-orientation{
  grid-area: header;
}

.title-orientation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 0 50%
}

.button-style-top {
  grid-area: button;
  align-self: flex-end;
}

.toparticle-container0 {
  margin-right: .5%;
}
.toparticle-container1 {
  margin-left: .5%;
}

.buttons {
  display: flex;
  flex-direction: column;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sticky_element */
  top: 0;
  
}

.sports,
.entertainment,
.food,
.travel {
  font-family: 'Pragati Narrow', sans-serif;
  color: rgb(1, 1, 46);
  font-size: 20px;
  width: 200px;
  height: 30px;
  border: none;
  padding-bottom: 30px;
  margin-bottom: 1%;
  outline: aqua;
  text-align: left;
  background-image: linear-gradient(to left, white,rgb(167, 250, 250));
}

.sports:hover,
.entertainment:hover,
.food:hover,
.travel:hover {
  background-image: linear-gradient(to right, rgb(1, 1, 46) , rgb(1, 1, 46));
  outline: rgb(1, 1, 46);
  color: white;
  cursor: pointer;

}

.results-main{
  margin: 0% 0%;

}

.all-articles-container {
  display: flex;
  flex-direction: column;
  float: inline-end;
}

.article-container {
  display: flex;
  flex-wrap: wrap; 
  border: solid 3px rgb(1, 1, 46);
  line-height: 30px;
  margin: 0% 0% 1% 0%;
}


.image-custom {
  height: 120px;
  width: auto;
  margin: .5%;

}

.readmore-button-text{
  text-decoration: none;
  font-family: 'Pragati Narrow', sans-serif;
  color: rgb(1, 1, 46);
}
 
.readmore-button-text:hover {
  color: white;
}

.title-custom {
  margin: 1%;
}

.description-custom {
  font-size: larger;
  margin: 1%;
}

.button-style {
  font-size: 20px;
  flex: 1 0 100%;
  border: none;
  outline: rgb(1, 1, 46);
  background-image: linear-gradient( white,rgb(167, 250, 250));
  }

  .button-style:hover{
    background-image: linear-gradient(rgb(167, 250, 250), rgb(167, 250, 250));
    outline: rgb(1, 1, 46);
    color: white; 
  }

  .newsletter {
    text-align: left;
    margin: 1% 10% 0% 10%;    
  }

  ::placeholder{
    color:rgb(97, 179, 179);
    
  }
  input {
    border-color: rgb(1, 1, 46);
    outline: rgb(1, 1, 46);
  }

  button{
    border-color: rgb(1, 1, 46);
    color:white;
    background-image: linear-gradient(to right, rgb(1, 1, 46) , rgb(1, 1, 46));
    outline: rgb(1, 1, 46);
  }

  button:hover {
    background-image: linear-gradient(to right, aqua , aqua);
  }

  .form{
    margin-bottom: .2%;
  }

  /* start of media queries */

  @media screen and (max-width: 1048px ) {
    .description-custom {
      display: none;
    }
    .title-orientation {
      font-size: 10px;
    }
    body {
      margin: 0px 0px;
    }
    .top-stories-header {
      font-size: 26px;
    }

  }

  @media screen and (max-width: 875px) {
    .toparticle-container {
      display:grid;
      grid-template-areas: 
      "image" 
      "header"
      "button button";
    }

    .top-stories-header {
      font-size: 26px;
    }

    .buttons {
      flex-direction: row;
      float: none;
      font-size: unset;
      justify-content: space-between;
      position:static;
      margin: 0px 0px 10px 0px;
    }

    .article-container {
      margin: 0px 0px 20px 0px;  
    }

    .sports,
    .entertainment,
    .food,
    .travel {
      background-image: linear-gradient(to left, white, white);
      border: solid 3px rgb(1, 1, 46);
      margin: 1px;
    }
} 

  @media screen and (max-width: 750px ) {
    body {
      margin: none;
    }

    .top-stories-header {
      font-size: 18px;
    }

    .hero{
      display: block;
      background-image: none;
      background-color: rgb(1, 1, 46);
      height:unset;
    }

    h2 {
      background-color: rgb(1, 1, 46);
    }

    .top-stories {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .heroh1 {
      font-size: 32px;
    }

    .top-stories-header {
      font-size: 26px;
    }

    h2 {
      font-size: 22px;
      line-height: normal;
    }

    .title-orientation {
      font-size: 10px;
    }

    .description-custom {
      display: none;
    }

    .button-style-top {
      align-self:flex-start;
      font-size: unset;
      background-image: aqua;
    }
    .toparticle-container img {
      height: auto;
      width: 150px;
    }
    .image-custom {
      height: auto;
      width: 150px;
      }

    .buttons {
      flex-direction: row;
      float: none;
      justify-content: space-between;
      position:static;
      margin: 0px 0px 10px 0px;
    }

    .sports,
    .entertainment,
    .food,
    .travel {
      background-image: linear-gradient(to left, white, white);
      border: solid 3px rgb(1, 1, 46);
      justify-content: space-between;
    }

  }

  @media screen and (max-width: 500px ) {
    main {
      margin: 2px;
    }

    body {
      margin: 2px;
    }

    .top-stories-header {
      font-size: 22px;
    }

    .results-main {
      margin: 2px;
    }

    .hero{
      display: block;
      background-image: none;
      background-color: rgb(1, 1, 46);
      height:unset;
    }

    h2 {
      background-color: rgb(1, 1, 46);
      font-size: 18px;
    }

    .top-stories {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .heroh1 {
      font-size: 32px;
    }

    h2 {
      font-size: 16px;
      line-height: normal;
    }

    .title-orientation {
      font-size: 10px;
    }

    .description-custom {
      display: none;
    }

    .button-style-top {
      align-self:flex-start;
      background-image: aqua;
    }
    .toparticle-container img {
      height: 50px;
      width: 100px;
    }
    .image-custom {
      height: 50px;
      width: 100px;
      }

    .buttons {
      flex-direction: row;
      float: none;
      justify-content: space-between;
      position:static;
      margin: 0px 0px 10px 0px;
    }
    .sports,
    .entertainment,
    .food,
    .travel {
      background-image: linear-gradient(to left, white, white);
      border: solid 3px rgb(1, 1, 46);
    }

  }

 